registry=https://registry.npmjs.org/  ; Default registry (npm registry)

; Use GitHub registry for packages with the @ntils-wc scope
@ntils-wc:registry=https://npm.pkg.github.com/

; Authentication token for npm registry
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

; Authentication token for GitHub Packages registry
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN_NTILS}
